<nav class="navbar navbar-expand-sm navbar-dark"  style='color:white;background:#2196F3;margin:0px 0px 0px 0px;font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;'>
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
      <img src="http://www.stickpng.com/assets/images/58e9196deb97430e819064f6.png" alt="logo" style="width:40px;">
    </a>
    
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      
    </ul>
    <p style='text-align:right;margin-left:25%;font-size:1.8125rem'>Tweet Emotion Visualization</p>
</nav>
  